# sklearn패키지로 데이터 불러오기

In [21]:
#패키지 세팅
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

#sklearn에서 데이터를 사용하기 위한 import
from sklearn import datasets

#boston 데이터 셋을 가져오기
boston = datasets.load_boston()
print(type(boston)) #DataFrame이 아니고 Bunch 형태다 >> 변환 필요

#데이터 확인
print(type(boston.keys))
print(boston.keys())

#실제 데이터의 자료형을 확인하기
print(type(boston.data))

#DataFrame으로 만들 수 있는지 shape 확인
print(boston.data.shape)
df=DataFrame(boston.data, columns=['CRIM','INDUS','NOX','RM','LSTAT','B', 'PTRATIO','ZN','CHAS','AGE','RAD','DIS','TAX']) 
print(df.head(5))  #헤드 정보가 없기 때문에 document를 보고 dataframe을 생성하는 단계에서 하나씩 붙여줘야 한다.

<class 'sklearn.utils.Bunch'>
<class 'builtin_function_or_method'>
dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
<class 'numpy.ndarray'>
(506, 13)
      CRIM  INDUS   NOX   RM  LSTAT      B  PTRATIO      ZN  CHAS    AGE  \
0  0.00632   18.0  2.31  0.0  0.538  6.575     65.2  4.0900   1.0  296.0
1  0.02731    0.0  7.07  0.0  0.469  6.421     78.9  4.9671   2.0  242.0
2  0.02729    0.0  7.07  0.0  0.469  7.185     61.1  4.9671   2.0  242.0
3  0.03237    0.0  2.18  0.0  0.458  6.998     45.8  6.0622   3.0  222.0
4  0.06905    0.0  2.18  0.0  0.458  7.147     54.2  6.0622   3.0  222.0

    RAD     DIS   TAX
0  15.3  396.90  4.98
1  17.8  396.90  9.14
2  17.8  392.83  4.03
3  18.7  394.63  2.94
4  18.7  396.90  5.33

# fwf 불러오기, 인코딩

In [29]:
import os
#print(os.getcwd())
fwf = pd.read_fwf('C:/Users/admin/data/data_fwf.txt', width=(10,2,5), names=('날짜','종목이름','종가'), encoding='utf-8')
#width는 끊는 단위를 카운트 한 것 2017-04-10 = 10자, 다음=10자.. 이런식!

print(fwf) #인코딩을 안하니까 깨져버림

                  날짜  종목이름  종가
0  2017-04-10다음32000   NaN NaN
1  2017-04-11다음34000   NaN NaN
2  2017-04-12다음33000   NaN NaN

# csv 읽어오기

In [61]:
item = pd.read_csv('C:/Users/admin/data/good.csv',header=None, names=['제조사','상품명','가격'])
#print(type(item)) # 어떤 형태로 가져왔는지 확인하기
#print(item.head(5)) #제대로 읽어왔는지 확인하기
#print(item.info()) #구조 파악하기


#만약 사이즈가 너무 크면 분할을 해서 읽어야 한다! : good.csv를 2개씩 읽어보자
goodchunk = pd.read_csv('C:/Users/admin/data/good.csv',header=None, chunksize=2)
print(type(goodchunk)) #parser를 가져오기 때문에 for in으로 빼내야 한다!

for good in goodchunk:
    print(good)
    
    
#문자열이 작은 따옴표가 아닌 단위로 묶여있다면???? sep을 사용!
fruits = pd.read_csv('C:/Users/admin/data/fruit.csv',header=None, sep='|')
print(fruits)

#줄단위로 읽어서 DataFrame을 만들기
import csv
lines = list(csv.reader(open('C:/Users/admin/data/fruit.csv'),delimiter='|'))
print(lines)

fruits = DataFrame(lines, columns=['이름','수량','가격'])
print(fruits)

#파일에 저장하기
fruits.to_csv('fruits.csv') #이럼 인덱스까지 header에 컬럼명으로 공란 삽입 되니까 index=none해주는게 업무에 편리하다.

<class 'pandas.io.parsers.TextFileReader'>
        0   1      2
0   apple  10   1500
1  banana   5  15000
       0   1     2
2  melon   7  1000
3   kiwi  20   500
        0   1     2
4   mango  30  1500
5  orange   4   700
        0   1      2
0   apple  10   1500
1  banana   5  15000
2  orange  20    500
3    pear  30   1500
4    kiwi   7   1000
5   mango   4    700
[['apple', '10', '1500'], ['banana', '5', '15000'], ['orange', '20', '500'], ['pear', '30', '1500'], ['kiwi', '7', '1000'], ['mango', '4', '700 ']]
       이름  수량     가격
0   apple  10   1500
1  banana   5  15000
2  orange  20    500
3    pear  30   1500
4    kiwi   7   1000
5   mango   4   700

# 엑셀 파일 읽고 쓰기

In [65]:
excel = pd.read_excel('./data/excel.xlsx', sheet_name='Sheet1')
print(excel)

#엑셀로 저장하는 과정
writer=pd.ExcelWriter('excel.xlsx')
excel.to_excel(writer, sheet_name='연습')
writer.save()

   번호                          이름   1과목   2과목   3과목
0                          1  이효준  40.0   NaN  45.0
1                          2  김성희  42.0  55.0  50.0
2                          3  이연숙   NaN  60.0  55.0
3                          4  노화현  50.0  70.0  60.0
4                          5  최희순  55.0  75.0   NaN
5                          6  정원주  60.0  80.0  70.0

# HTML 페이지의 table 태그의 내용을 DataFrame으로 변환하기

In [73]:
#도움말부터 확인해보자
#help(pd.read_html)
population = pd.read_html('https://ko.wikipedia.org/wiki/%EC%9D%B8%EA%B5%AC%EC%88%9C_%EB%82%98%EB%9D%BC_%EB%AA%A9%EB%A1%9D',thousands=',')
#인구를 천 단위에 , 로 끊어놨기 때문에 문자열 처리를 안하기 위해 thousands 매개 변수 삽입

print(population)

for df in population:
    print(df.head())

[      순위 나라 (및 속령)          인구    기준일자         출처
0      1   중화인민공화국  1420060000  2019.0    공식 인구시계
1      2        인도  1368780000  2019.0    공식 인구시계
2      3        미국   329676200  2019.0    공식 인구시계
3      4     인도네시아   270110500  2019.0  공식 연간 예상치
4      5       브라질   215850000  2019.0    공식 인구시계
..   ...       ...         ...     ...        ...
237  238      토켈라우        1400     NaN        NaN
238  239    세인트헬레나        7729     NaN        NaN
239  240    바티칸 시국         800  2014.0        NaN
240  241    코코스 제도         538     NaN        NaN
241  242    핏케언 제도          50     NaN        NaN

[242 rows x 5 columns],   vdeh나라 목록                                        vdeh나라 목록.1
0        지리  면적 해안선 최고 고도 밀집도 해안 면적 비율 위도 최북단 최남단 경도 최동단 최서...
1     인구 통계  인구 (그래프 인구 밀도) 평균 수명 영아 사망률 출생률 출산율 사망률 인간개발지수...
2        경제  국내 총생산: 명목 GDP (일인당) PPP (일인당) (노동 시간 일인당) 과거 ...
3    정치와 사회  정치자유 언론 자유 교육제도 대통령제/의원내각제 선거제도 사형제 동성결혼 낙태 국가...
4        군사        군비지출 병력 모병제/징병제 전시 작전통제권 핵무기 보유 UN 평화유지군 파병
5        환경  석유 생산 가채 석유 매장량 생산량 소비량 수출 수입 이산화탄소 배출량 (일인당) ...]
   순위 나라 (및 속령)          인구    기준일자         출처
0   1   중화인민공화국  1420060000  2019.0    공식 인구시계
1   2        인도  1368780000  2019.0    공식 인구시계
2   3        미국   329676200  2019.0    공식 인구시계
3   4     인도네시아   270110500  2019.0  공식 연간 예상치
4   5       브라질   215850000  2019.0    공식 인구시계
  vdeh나라 목록                                        vdeh나라 목록.1
0        지리  면적 해안선 최고 고도 밀집도 해안 면적 비율 위도 최북단 최남단 경도 최동단 최서...
1     인구 통계  인구 (그래프 인구 밀도) 평균 수명 영아 사망률 출생률 출산율 사망률 인간개발지수...
2        경제  국내 총생산: 명목 GDP (일인당) PPP (일인당) (노동 시간 일인당) 과거 ...
3    정치와 사회  정치자유 언론 자유 교육제도 대통령제/의원내각제 선거제도 사형제 동성결혼 낙태 국가...
4        군사        군비지출 병력 모병제/징병제 전시 작전통제권 핵무기 보유 UN 평화유지군 파병

# json데이터 읽기 (비추..)

In [89]:
movies = pd.read_json('http://swiftapi.rubypaper.co.kr:2029/hoppin/movies?version=1&page=1&count=20&genreId=&order=releasedateasc')
#print(type(movies)) #json데이터를 읽어오면 바로 데이터프레임으로 들어옴
#print(movies.head(3))
#print(movies['hoppin']['movies']['movie']) 

#여기까지 계속 인덱싱으로 껍질을 벗겨야 겨우 dict 리스트까지 옴
#이 리스트까지 와야 겨우.. key title에 해당하는 애만 다 뽑아와가 가능함.
#못하는건 아닌데 단계가 굉장히 많아서 비추
for temp in movies['hoppin']['movies']['movie']:
             print(temp['title'])

인포먼트
엣지 오브 다크니스
베이비 돌
황야의 역마차
전원 교향곡
아버지의 깃발
여덟번의감정
레드
영광의 탈출
크로싱
맨 인 블랙
차형사
에이지 오브 드래곤
로드 오브 워리어
[메이킹 다큐] 도둑들 영화를 만들다!
괜찮아요 수달씨
파파
이케맨 뱅크
다중인격소녀 ISOLA
위조지폐

# sqlite3의 데이터 가져오기

In [94]:
from sqlalchemy import create_engine
#1.sql의 연결 객체를 생성
con = create_engine('sqlite:///data/sample.db')

#2. sql을 실행해서 DataFrame으로 만들기
pl = pd.read_sql('select* from pl', con) #첫번째 매개변수에 sql구문 두번째 매개변수로 연결객체 넣어주기
print(pl)

   id     name language
0   1  데니스 리치히        C
1   2  제임스 고슬링     Java
2   3  귀도 반 로썸   Python

# oracle에서 데이터 가져와서 DF만들기

In [95]:
con = create_engine('oracle://user05:user05@211.183.6.60:1521/xe')

ModuleNotFoundError: No module named 'cx_Oracle'