### outlier 처리

In [30]:
import numpy as np
import pandas as pd

#1. array를 입력 받아서 z점수(mean + - 3SD) 밖에 있는 데이터를 리턴해주는 함수 이용

def z_score_outlier(ar):
    threshold = 3
    # 평균, 표준편차 가져오기
    meandata = np.mean(ar)
    stdevdata = np.std(ar)
    z_score = [(y-meandata)/ stdevdata for y in ar]
    return np.where(np.abs(z_score) > threshold) #절대값이 3보다 크면 리턴해라


features = np.array([[10,20,21,13,5,12,10,20,21,13,5,12],[1000,3,5,34,2,-1000,10,20,21,13,5,12]])

z_score_outlier(features)

#2. Z score 보정

def modify_z_score_outlier(ar):
    threshold = 3.5
    # 평균, 표준편차 가져오기
    meandata = np.mean(ar)
    stdevdata = np.std(ar)
    z_score = [0.6875*(y-meandata)/ stdevdata for y in ar]
    return np.where(np.abs(z_score) > threshold) #절대값이 3보다 크면 리턴해라

features2 = np.array([[10,20,21,13,5,12,10,20,21,13,5,12],[1000,3,5,34,2,13,10,20,21,13,5,12]])
z_score_outlier(features2)

#3. IQR 이용 - 3사분위수 - 1사분위의 +- 1.5배 이상 차이나면 이상치로 간주

def iqr_outlier(ar):
    q1, q3 = np.percentile(ar,[25, 75])
    # iqr 계산
    iqr = q3 - q1
    
    #25%값 - 1.5*iqr
    low = q1 - (1.5 * iqr)
    up = q3 + (1.5 * iqr)
    return np.where((ar>up)|(ar<low))
    
features3 = np.array([[-20,20,21,13,5,12,10,20,21,13,5,12],[10,3,5,44,-22,13,10,20,21,13,5,12]])
iqr_outlier(features3)

(array([0, 1, 1], dtype=int64), array([0, 3, 4], dtype=int64))

### outlier처리2 - 제거, 조절

In [41]:
house = pd.DataFrame()
house['price'] = [100000, 200000, 150000, 1000000]
house['rooms'] = [2, 3, 1, 100]
house['square'] = [11, 23, 15, 1200]
house

#1. 제거하기
print(house[house['rooms']<6])

#2. 이상한 데이터를 별도로 표시해주기
house['outlier'] = np.where(house['rooms']<6, 0, 1) #True이면 0, False이면 1을 주라는 의미
house

#3. 값의 범위를 줄이기
house['logged_price'] = [np.log(x) for x in house['price']]
house

    price  rooms  square
0  100000      2      11
1  200000      3      23
2  150000      1      15

     price  rooms  square  outlier  logged_price
0   100000      2      11        0     11.512925
1   200000      3      23        0     12.206073
2   150000      1      15        0     11.918391
3  1000000    100    1200        1     13.815511