## stack, unstack and melt

In [12]:
#필요한 패키지들 가져오기 
import numpy as np #수치연산, 선형대수, ndarray라는 자료 구조를 가진 패키지
import pandas as pd #Series, DF 자료구조를 가 패키지
import seaborn as sns #샘플데이터와 시각화
import matplotlib.pyplot as plt #그래프 그리기 패키지
#그래프 한글처리 패키지
from matplotlib import font_manager, rc
import platform
if platform.system() == 'Windows': #윈도우즈라면
    font_name = font_manager.FontProperties(fname='c:/windows/Fonts/malgun.ttf').get_name()
    rc('font', family=font_name)
elif platform.system() == 'Darwin': #매킨토시(MacOS)라면
    rc('font', family='AppleGothic')


#멀티 인덱스를 먼저 만들자 (튜플로 만들어진 리스트)
mul_index = pd.MultiIndex.from_tuples([('cust_1','2015'),('cust_1','2016'),('cust_2','2015'),('cust_2','2016')])
mul_index

#데이터 프레임 만들기
data = pd.DataFrame(data=np.arange(16).reshape(4,4), index=mul_index, columns=['prd_1','prd_2','prd_3','prd_4'])
data


# stack 작업 =========================================================================

#컬럼들을 인덱스로 설정하는 게 stack이다
data_stacked = data.stack()
data_stacked


# unstack 작업 =======================================================================

# unstack은 데이터를 가로 방향으로 늘어 뜨리는 것
# level 옵션을 이용해서 원하는만큼 열로 만들 수 있음
# 현재 index가 3가지 이므로 0,1,2를 넣을 수 있음
data_unstacked=data_stacked.unstack(level=2)
data_unstacked

pd.melt(data, id_vars=['prd_3','prd_4'])

   prd_3  prd_4 variable  value
0      2      3    prd_1      0
1      6      7    prd_1      4
2     10     11    prd_1      8
3     14     15    prd_1     12
4      2      3    prd_2      1
5      6      7    prd_2      5
6     10     11    prd_2      9
7     14     15    prd_2     13

### Crosstab : 도수분포표

In [16]:
data = pd.DataFrame({'id':['id1','id1','id1','id2','id2','id2'],
                    'fac_1':['a','a','a','b','b','b'],
                    'fac_2':['c','c','c','d','d','d']})

pd.crosstab(data['fac_1'], data['fac_2'], normalize=True) #fac2가 real, fac1이 model 이런식이면 결과 테이블이 되는 셈!
#normalize = True 값을 넣으면 정규화

fac_2    c    d
fac_1
a      0.5  0.0
b      0.0  0.5